@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Press Start 2P", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

body {
    background: #0f0f1a;
    color: #fff;
    font-family: "Press Start 2P", monospace;
    text-shadow: 1px 1px 0 #000;
    image-rendering: pixelated;
}

.pixel-border {
    border: 4px solid #e43f5a;
    padding: 8px;
    box-shadow: 4px 4px 0 #162447;
}

a {
    color: #ffd460;
    text-decoration: none;
}

a:hover {
    color: #e43f5a;
}
